name: Build CI

on:
  push:

permissions:
  contents: write
  id-token: write

jobs:
  test:
    uses: ./.github/workflows/test.yml
  publish-npm:
    if: github.ref == 'refs/heads/main'
    needs: test
    uses: ./.github/workflows/publish.yml